@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* font-family: 'Alfa Slab One', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@200;300;400;500;700&family=Roboto+Condensed:wght@400;500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --cor-amarelo: rgb(255,194,52);
    --cor-marrom: rgb(65,31,9);
    --cor-vermelho: rgb(223,28,28);
    text-transform: uppercase;
    font-family: sans-serif;
    list-style: none;
    color: var(--cor-marrom);
    font-style: normal;

}

header, main, .secao-amburguers > aside{
    background-color: var(--cor-amarelo);

}

h1, h2, h1>strong {
    font-family: 'Alfa Slab One', serif;
    letter-spacing: 1px;
}

p{
    text-transform: none;
}

button{
    background-color: var(--cor-vermelho);
}

/* FIM FORMATAÇÃO GERAL*/

header{
    height: 70px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

ul{
    display: flex;
    gap: 15px;
}

main{
    height: 400px;
    display: flex;
}
.texto-banner, .img-banner{
    width: 50%;
}
.texto-banner{
    display: flex;
    padding-top: 170px;
    font-size: 1.5rem;
}
    .img-banner > figure > img{
        height: 350px;
    }

.secao-amburguers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .secao-amburguers > aside{
        display: flex;
        width: 250px;
        justify-content: center;
        text-transform: uppercase;
    }
    .secao-amburguers-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        text-align: center;
    }
        .secao-amburguers-texto > p{
            margin-top: 10px;
        }

.sec-cards{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.card-amburguer{
    width: 250px;
    border: 1px solid purple;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
#card-amburguer-1 > img{
    width: 220px;
}
#card-amburguer-2 > img{
    width: 200px;
}
#card-amburguer-3 > img{
    width: 220px;
}

.card-amburguer > a >button{
    padding: 10px 15px;
    border: none;
    color: white;
}

.form-reserva{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid purple;

}
.form-reserva > h3{ /* 'reservation' */
    font-size: 13px;
}

.campo-reserva{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    gap: 10px;

}

.campo-reserva > input{
    width: 48%;
    height: 50px;
    background-color: var(--cor-amarelo);
}
footer, .localizacao, .email, .sec1-footer, .copy-redes-sociais{
    display: flex;

}

footer{
    background-image: url(img/rodape/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 10px 5px 10px;
    flex-direction: column;
}

.texto-footer > p, address > p, .localizacao > p, .email > p{
    color: white;
}

.texto-footer, .contato-footer{
    width: 50%;
}

.copy-redes-sociais{
    justify-content: space-between;
    padding: 5px 10px;
}
